.hero {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("..//img/main_bg.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..//img/main_bg.png");
  background-position: top;
  background-size: 150%;
  background-repeat: no-repeat;
  position: relative;
}

.hero .hero_inner {
  position: relative;
  height: 84%;
  padding: 0 15px;
}

.hero .hero_inner .navbar {
  padding: 20px 0;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_inner .navbar-logo {
  padding-right: 200px;
}

.hero .hero_inner .navbar-menu {
  padding: 0 10px;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.hero .hero_inner .navbar-menu ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_inner .navbar-menu ul li a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #c7b299;
}

.hero .hero_inner .navbar-toolbar {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  padding-left: 10px;
}

.hero .hero_inner .navbar-toolbar img {
  padding-left: 20px;
}

.hero .hero_inner .navbar-menu_btn {
  display: none;
  cursor: pointer;
}

.hero .hero_inner .navbar-menu_btn img {
  width: 50px;
  height: 50px;
}

.hero .hero_inner .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero_inner .content .hero_headers {
  text-align: center;
  color: #ffffff;
}

.hero .hero_inner .content .hero_headers h2 {
  font-size: 36px;
  font-weight: 500;
}

.hero .hero_inner .content .hero_headers h1 {
  font-size: 58px;
  font-weight: 700;
}

.hero .hero_inner .content .hero_headers p {
  max-width: 572px;
  font-size: 16px;
  font-weight: 300;
}

.hero .hero_inner .content .hero_headers .hero_button {
  margin-top: 50px;
}

.button a {
  padding: 20px 50px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.button a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #915d38;
}

.about_us {
  padding: 70px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us-item {
  cursor: pointer;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  text-align: center;
}

.about_us-item h3 {
  font-size: 22px;
  font-weight: 700;
  color: #555555;
}

.about_us-item p {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.about_us-item p:after {
  content: "";
  display: block;
  width: 70px;
  margin: 0 auto;
  height: 3px;
  background-color: #f1eee9;
  margin-top: 20px;
}

.about_us-item:hover h3 {
  -webkit-transition: .4s;
  transition: .4s;
  color: #c7b299;
}

.about_us-item:hover p:after {
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #c7b299;
}

.ideas {
  background-color: #fbfaf8;
}

.ideas .ideas_bot {
  padding: 50px 15px;
  background-color: #3a2921;
}

.ideas .ideas_bot .ideas_bot_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ideas .ideas_bot .ideas_bot_inner .leftpart h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.ideas .ideas_bot .ideas_bot_inner .leftpart h1 span {
  color: #c7b299;
}

.ideas .ideas_bot .ideas_bot_inner .leftpart p {
  margin: 0;
  color: #615855;
  font-size: 18px;
  font-weight: 300;
}

.ideas .ideas_inner .headers_ideas {
  text-align: center;
}

.ideas .ideas_inner .headers_ideas h1 {
  color: #555555;
  font-size: 30px;
  font-weight: 700;
  padding-top: 80px;
}

.ideas .ideas_inner .headers_ideas p {
  margin: 0 auto;
  max-width: 750px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 15px;
}

.ideas .ideas_inner .photos_idea {
  margin-top: 40px;
  height: 490px;
  position: relative;
}

.ideas .ideas_inner .photos_idea-item_left {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 1;
}

.ideas .ideas_inner .photos_idea-item_right {
  position: absolute;
  bottom: -4px;
  right: 0;
  z-index: 1;
}

.ideas .ideas_inner .photos_idea-item_center {
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.projects-headers {
  text-align: center;
}

.projects-headers h1 {
  color: #555555;
  font-size: 30px;
  font-weight: 700;
  padding-top: 80px;
}

.projects-headers p {
  margin: 0 auto;
  max-width: 750px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 15px;
}

.projects .project_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.projects .project_buttons-item {
  margin-right: 15px;
}

.projects .project_buttons-item p {
  cursor: pointer;
  padding: 7px 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  color: #8c8c8c;
}

.projects .project_buttons-item p:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #998675;
  color: #fff;
}

.projects .projects_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 10px;
}

.projects .projects_grid-item {
  background-color: #fbfaf8;
}

.projects .projects_grid-item .item_txt {
  padding-left: 30px;
}

.projects .projects_grid-item .item_txt .name {
  color: #c7b299;
  font-size: 20px;
  font-weight: 500;
}

.projects .projects_grid-item .item_txt .position {
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 300;
}

.projects .projects_button {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.watch_video {
  margin-top: 80px;
  height: 700px;
  background-image: url("..//img/video_bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.watch_video .content {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.watch_video .content-play_button {
  position: relative;
}

.watch_video .content-play_button .play_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.watch_video .content-play_button .play_icon_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
}

.watch_video .content-play_button:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.watch_video .content-play_button:hover .play_icon_bg {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

.watch_video .content-headers {
  margin-top: 80px;
}

.watch_video .content-headers h2 {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}

.watch_video .content-headers .video_description {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.watch_video .content-headers .video_time {
  color: #c7b299;
  font-weight: 400;
}

.mobile_devices {
  background-color: #fbfaf8;
}

.mobile_devices .mobile_devices_inner {
  padding: 80px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile_devices .mobile_devices_inner-rightpart {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.mobile_devices .mobile_devices_inner-rightpart .mobile_devices_headers h1 {
  color: #555555;
  font-size: 30px;
  font-weight: 700;
  padding-top: 80px;
}

.mobile_devices .mobile_devices_inner-rightpart .mobile_devices_headers p {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 15px;
}

.mobile_devices .mobile_devices_inner-rightpart .mobile_devices_preferences {
  color: #8c8c8c;
  -ms-flex-line-pack: center;
      align-content: center;
}

.mobile_devices .mobile_devices_inner-rightpart .mobile_devices_preferences-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  padding-left: 40px;
}

.mobile_devices .mobile_devices_inner-rightpart .mobile_devices_preferences-item p {
  padding-left: 20px;
}

.statistic {
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.statistic .statistic_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 50px 10px;
}

.statistic .statistic_inner-item .stat_count {
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  margin: 10px 0;
}

.statistic .statistic_inner-item .stat_name {
  color: #c7b299;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.statistic .statistic_inner-item .stat_name:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 30px;
}

.posts {
  padding-bottom: 50px;
}

.posts .posts_headers {
  text-align: center;
}

.posts .posts_headers h1 {
  color: #555555;
  font-size: 30px;
  font-weight: 700;
  padding-top: 80px;
}

.posts .posts_headers p {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 15px;
}

.posts .posts_content {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts .posts_content-item {
  border: 1px solid #f8f8f8;
  margin: auto;
}

.posts .posts_content-item .content_txt {
  padding: 0 30px;
}

.posts .posts_content-item .content_txt h2 {
  color: #555555;
  font-size: 20px;
  font-weight: 500;
}

.posts .posts_content-item .content_txt p {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.posts .posts_content-item .content_txt .link a {
  color: #c7b299;
}

.posts .posts_content-item .content_txt .link a img {
  margin-left: 20px;
}

.partners {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("..//img/partners_bg.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("..//img/partners_bg.png");
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
}

.partners .partners_inner {
  padding: 0 15px;
}

.partners .partners_inner .logo_container {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_us {
  background-color: #191919;
}

.contact_us .contact_us_inner {
  padding: 90px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact_us .contact_us_inner-item {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}

.contact_us .contact_us_inner-item .usual_txt {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.contact_us .contact_us_inner-item .contact_us_inner_item_header {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.contact_us .contact_us_inner-item .post_link {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.contact_us .contact_us_inner-item .post_link .contact_us_inner_news {
  margin-bottom: 20px;
}

.contact_us .contact_us_inner-item .post_link .contact_us_inner_news .news_txt, .contact_us .contact_us_inner-item .post_link .contact_us_inner_news .news_date {
  margin: 0;
}

.contact_us .contact_us_inner-item .post_link:hover .contact_us_inner_news .news_date {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #ffffff;
}

.contact_us .contact_us_inner-item .post_link:hover .contact_us_inner_news .news_txt {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #c7b299;
}

.contact_us .contact_us_inner-item .twitter_link p {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.contact_us .contact_us_inner-item .twitter_link .highlight_link_blue {
  color: #00bff3;
}

.footer {
  background-color: #111111;
}

.footer .footer_inside {
  padding: 20px 15px;
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_inside-leftpart {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_inside-leftpart p span {
  color: #959595;
}

.footer .footer_inside-leftpart a {
  color: #555555;
}

.footer .footer_inside-leftpart a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #c7b299;
}

.footer .footer_inside-rightpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_inside-rightpart p {
  padding: 10px;
}

@media (max-width: 1150px) {
  .projects .projects_grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .hero .hero_inner .navbar-logo {
    padding-right: 10px;
  }
  .hero .hero_inner .navbar-toolbar {
    padding-left: 0;
  }
  .posts .posts_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .posts .posts_content-item {
    margin-top: 30px;
  }
  .posts .posts_content-item .content_txt {
    padding: 0;
    text-align: center;
  }
  .posts .posts_content-item .post_photo {
    display: block;
    margin: auto;
  }
  .partners {
    background-size: cover;
  }
  .contact_us .contact_us_inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact_us .contact_us_inner-item {
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
  }
}

@media (max-width: 900px) {
  .footer .footer_inside-leftpart {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .hero {
    background-position: top;
    background-size: cover;
  }
  .ideas .ideas_inner .photos_idea {
    height: auto;
  }
  .ideas .ideas_inner .photos_idea-item_left {
    display: none;
  }
  .ideas .ideas_inner .photos_idea-item_right {
    display: none;
  }
  .ideas .ideas_inner .photos_idea-item_center {
    position: relative;
  }
  .ideas .ideas_inner .photos_idea-item_center img {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 90%;
  }
  .partners .partners_inner {
    padding: 0 30px;
  }
  .partners .partners_inner .logo_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners .partners_inner .logo_container-item {
    padding-top: 15px;
    display: block;
    margin: auto;
  }
  .contact_us .contact_us_inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact_us .contact_us_inner-item {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .footer .footer_inside {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer .footer_inside-leftpart {
    display: block;
  }
  .footer .footer_inside-rightpart p {
    padding: 0 10px;
  }
  .watch_video {
    height: 350px;
  }
  .projects .projects_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects .projects_grid-item {
    margin-top: 30px;
    border: 1px solid #c7b299;
    border-radius: 10px;
  }
  .mobile_devices .mobile_devices_inner {
    padding: 30px 15px 0 15px;
    text-align: center;
  }
  .mobile_devices .mobile_devices_inner-leftpart {
    display: none;
  }
  .mobile_devices .mobile_devices_inner-rightpart {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .mobile_devices .mobile_devices_inner-rightpart .mobile_devices_headers h1 {
    padding-top: 0;
  }
  .mobile_devices .mobile_devices_inner-rightpart .mobile_devices_preferences {
    display: inline-block;
    margin: auto;
  }
  .mobile_devices .mobile_devices_inner-rightpart .mobile_devices_preferences-item {
    padding-left: 0;
  }
  .about_us {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about_us-item {
    padding: 0 20px;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    display: block;
    margin: auto;
  }
  .hero .hero_inner .navbar-menu {
    display: none;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hero .hero_inner .navbar-toolbar {
    display: none;
  }
  .hero .hero_inner .navbar-menu_btn {
    display: block;
  }
  .ideas .ideas_bot .ideas_bot_inner {
    display: block;
  }
  .ideas .ideas_bot .ideas_bot_inner .leftpart {
    margin-bottom: 50px;
    text-align: center;
  }
  .ideas .ideas_bot .ideas_bot_inner .rightpart .idea_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .statistic .statistic_inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .statistic .statistic_inner-item {
    padding: 30px;
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
  }
  .statistic .statistic_inner-item .stat_name:after {
    display: none;
  }
  .projects .project_buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .hero .hero_inner .navbar-menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero .hero_inner .navbar-menu ul li {
    padding: 10px;
  }
  .hero .content .hero_headers h1 {
    margin: 0;
  }
  .hero .content .hero_headers h2 {
    margin: 0;
  }
}

body {
  font-size: 14px;
  font-family: Raleway;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */