.hero {
  position: relative;
  height: 800px;
  background-image: url("..//img//hero_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .navbar_outside {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hero .navbar_outside .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .navbar_outside .navbar-logo h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 400;
}

.hero .navbar_outside .navbar-logo h1 span {
  color: red;
}

.hero .navbar_outside .navbar-menu {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.hero .navbar_outside .navbar-menu ul {
  padding-left: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.hero .navbar_outside .navbar-menu ul a {
  text-decoration: none;
  color: #fff;
}

.hero .navbar_outside .navbar-menu ul a li {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.hero .navbar_outside .navbar-menu ul a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #097e89;
}

.hero .navbar_outside .navbar-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 7%;
      flex-basis: 7%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .navbar_outside .navbar-social .round {
  position: relative;
  margin-left: 3px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.hero .navbar_outside .navbar-social .round a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero .navbar_outside .navbar-menu_btn {
  display: none;
}

.hero .navbar_outside .navbar-menu_btn img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.hero .slider .hero_content {
  padding: 40px 0;
  max-width: 538px;
  position: relative;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
}

.hero .slider .hero_content h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.hero .slider .hero_content p {
  opacity: 0.7;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.hero .slider .hero_content .hero_button {
  margin-top: 40px;
}

.hero .slider .hero_content .hero_button a {
  border: 2px solid #fff;
  padding: 13px 33px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us-leftpart {
  background-image: url("..//img//about_us.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about_us-rightpart {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 80px 0;
  max-width: 730px;
}

.about_us-rightpart h1 {
  padding: 0 80px;
  color: #252525;
  font-size: 32px;
  font-weight: 700;
}

.about_us-rightpart h1:after {
  content: "";
  display: block;
  width: 95%;
  height: 1px;
  background: black;
}

.about_us-rightpart p {
  padding: 0 80px;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 500;
}

.about_us-rightpart .about_us_button {
  padding: 0 80px;
  margin-top: 50px;
}

.about_us-rightpart .about_us_button a {
  padding: 8px 27px;
  background-color: #05a0af;
}

.about_us-rightpart .about_us_button a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #097e89;
}

.services {
  background-color: #373737;
}

.services-header {
  position: relative;
}

.services-header h1 {
  margin: 0;
  padding: 50px 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #f7f7f7;
}

.services-header h1:before {
  content: "";
  position: absolute;
  width: 5%;
  height: 2px;
  left: 32%;
  top: 57%;
  background: #fff;
}

.services-header h1:after {
  content: "";
  position: absolute;
  width: 5%;
  height: 2px;
  right: 32%;
  top: 57%;
  background: #fff;
}

.services .services_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.services .services_content-item {
  background-color: #3d3d3d;
  padding: 130px 20px;
}

.services .services_content-item .img_services {
  width: 125px;
  margin: 0 auto;
}

.services .services_content-item h2 {
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.services .services_content-item p {
  color: #f7f7f7;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.services .services_content-item .services_button {
  margin-top: 40px;
}

.services .services_content-item .services_button a {
  padding: 20px 50px;
  background-color: #959595;
}

.services .services_content-item .services_button a:hover {
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .services_content-item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #097e89;
}

.feedback {
  background-color: #373737;
}

.feedback-header {
  position: relative;
}

.feedback-header h1 {
  margin: 0;
  padding: 50px 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #f7f7f7;
}

.feedback-header h1:before {
  content: "";
  position: absolute;
  width: 5%;
  height: 2px;
  left: 32%;
  top: 57%;
  background: #fff;
}

.feedback-header h1:after {
  content: "";
  position: absolute;
  width: 5%;
  height: 2px;
  right: 32%;
  top: 57%;
  background: #fff;
}

.feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.feedback-content .reviews {
  padding: 0 20px;
}

.feedback-content .reviews .reviews_item p {
  color: #cdc8c8;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.feedback-content .member_team_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-content .member_team_container .member_team {
  margin-left: 10px;
  position: relative;
}

.feedback-content .member_team_container .member_team .member_desc {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.feedback-content .member_team_container .member_team .member_desc .number {
  padding: 10px 15px;
  background: #fff;
}

.feedback-content .member_team_container .member_team .member_desc .name_position {
  margin-left: 10px;
}

.feedback-content .member_team_container .member_team .member_desc .name_position p {
  padding: 3px 30px 3px 10px;
  background: #fff;
}

.clients-header {
  position: relative;
}

.clients-header h1 {
  margin: 0;
  padding: 50px 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: black;
  opacity: 0.8;
}

.clients-header h1:before {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  left: 32%;
  top: 57%;
  background: black;
  opacity: 0.8;
}

.clients-header h1:after {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  right: 32%;
  top: 57%;
  background: black;
  opacity: 0.8;
}

.clients-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.clients-grid .grid_item {
  padding: 50px 0;
}

.callback {
  background-color: #097e89;
}

.callback .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback .wrapper .leftpart {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 25px 0;
}

.callback .wrapper .leftpart h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
}

.callback .wrapper .leftpart p {
  opacity: 0.7;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.callback .wrapper .rightpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.callback .wrapper .rightpart .inputdata {
  padding: 9px 0;
  color: #097e89;
  margin-bottom: 10px;
}

.callback .wrapper .rightpart .getcall {
  padding: 10px 20px;
  background: #fff;
  color: #097e89;
  cursor: pointer;
  border: 0;
}

.callback .wrapper .rightpart .getcall:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: black;
  color: #fff;
}

footer {
  background-color: #474747;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper .footer_leftpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper .footer_leftpart .footer_column {
  padding: 0 10px;
}

footer .wrapper .footer_leftpart .footer_column h2 {
  margin: 0;
  padding: 20px 0;
  color: #e5e5e5;
  font-family: "Helvetica LT Std";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

footer .wrapper .footer_leftpart .footer_column p {
  margin: 0;
  padding-top: 10px;
  font-family: "Helvetica LT Std";
}

footer .wrapper .footer_leftpart .footer_column a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #097e89;
}

footer .wrapper .footer_rightpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .wrapper .footer_rightpart .input_email {
  padding: 7px 19px;
  color: #097e89;
}

footer .wrapper .footer_rightpart .submit_subscribe {
  padding: 9px 19px;
  cursor: pointer;
  background-color: #0072bc;
  color: #fff;
  border: 0;
}

@media (max-width: 1100px) {
  footer .wrapper {
    padding: 0 15px;
  }
  .callback .wrapper {
    padding: 0 15px;
  }
  .services-header h1:before {
    left: 28%;
  }
  .services-header h1:after {
    right: 28%;
  }
  .about_us-rightpart h1, .about_us-rightpart p, .about_us-rightpart .about_us_button {
    padding: 0 40px;
  }
}

@media (max-width: 900px) {
  .clients-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .callback .wrapper .rightpart .getcall {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
  }
  .feedback-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1:after, h1:before {
    display: none;
  }
}

@media (max-width: 750px) {
  .about_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about_us-leftpart {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  .about_us-rightpart {
    background-image: url("..//img//about_us.png");
    background-repeat: no-repeat;
    background-size: cover;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .about_us-rightpart h1:after {
    display: none;
  }
  .about_us-rightpart h1, .about_us-rightpart p, .about_us-rightpart .about_us_button {
    color: #fff;
    padding: 0 20px;
  }
  .callback .wrapper .rightpart .inputdata {
    display: block;
  }
  .services-header h1:before {
    display: none;
  }
  .services-header h1:after {
    display: none;
  }
  .hero .navbar_outside .navbar-social {
    display: none;
  }
  .hero .navbar_outside .navbar-menu {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .hero .navbar_outside .navbar-logo {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  footer .wrapper {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .feedback-content .member_team_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-content .member_team_container .member_team {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .hero .navbar_outside .navbar {
    padding: 30px 10px;
  }
  .hero .navbar_outside .navbar-menu {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: none;
  }
  .hero .navbar_outside .navbar-logo {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .hero .navbar_outside .navbar-menu_btn {
    display: block;
  }
}

@media (max-width: 450px) {
  .hero .navbar_outside .navbar-menu ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .slider .hero_content {
    margin-top: 0;
  }
  .clients-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .callback .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .callback .wrapper .rightpart {
    padding-bottom: 10px;
  }
  footer .wrapper .footer_rightpart .input_email {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  footer .wrapper .footer_rightpart .submit_subscribe {
    display: block;
    margin: 0 auto;
  }
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */